.App {
  max-width: 800px;
  margin: 20px auto;
}
button {

  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: #c23866;
  color: #fff;
} 
.card-grid{
  margin-top: 40px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap:20px;
}
.score{
  margin-top: 10px;
  font-weight: 400;
}
.highscore{
  background-color: white;
  color:black;
  border: 2px solid #000;
  width: 20px;
}